.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: cyan;
}
.main-title{
  color: rgb(247, 111, 206);
}
.delivery-box{
  display:flex;
  flex-direction: column;

}

.btn {
  width:100px;
  height: 50px;
  font-size: calc(5px + 2vmin);
  background: #5bd6f8;
  margin:auto;
  margin-top: 20px;
  border: solid 2px cyan;
  border-radius: 5px;
  text-align: center;
  transition: background 0.5s ease-out;
}
.btn:hover{
  background:#2ed761;
  cursor: pointer;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
